$font-stack: 'Raleway', sans-serif;

$light-shade: #EFEDF0;
$light-accent: #8F9460;

$primary-colour: #7E99AF;

$dark-accent: #A0506F;
$dark-shade: #283752;

.ui.label {
  background-color: $dark-accent;
  color: $light-shade;
}