@use 'components/base';

#root {
  background: base.$dark-shade;
  color: base.$light-shade;
}

.app {
  font-family: base.$font-stack;
  padding-bottom: 10em;
}

.section {
  margin-bottom: 10em;
  padding-top: 10em;
}

h1, h2, h3, p {
  text-align: center;
}
